source_up

export OBS_UTIL_FOLDER='$$PWD$$/test'
export OBS_UTIL_AM_MEETING_FOLDER='00-09 Personal/08 Meetings'
export OBS_UTIL_DAILY_FOLDER='00-09 Personal/00 Daily Notes'
export GGL_OUTPUT_DIRECTORY='$$PWD$$/test/calldata'
